@import '~bootstrap/scss/bootstrap';

.box {
  background-color: white;
  border: 2px solid black;

  // text-align: center;
  display: inline-flex;
  height: 110px;
  width: 350px;
}

.completed {
  background-color: gray;
}


  .box:hover {
  background-color: yellow;
}
